body{
  font-family:arial,sans-serif;
  transition:background-color 1s ease;
}

h1, p, pre code{
  text-align:left;
  color:$offWhite;
}
h1{
  font-size: 3em;
  font-weight:400;
  clear:both;
  line-height:normal;
}
h1:before{
	content:'';
	width:1.5em;
	background:rgba(255, 255, 255, 0.65);
	height:.5em;
	display:block;
	margin-bottom:.75em;
}
