/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.chromeframe {position: absolute; top: 0;}

body{width:100%;margin:0 auto;overflow:hidden;font-family:arial,sans-serif;position:relative;min-height:730px;transition:background-color 1s ease;}
body div{width:100%;transition:background-color 6s ease;}
h1,p{text-align:left;color:rgba(255, 255, 255, 0.65); }
h1{font-size: 5em; margin:1em .75em .5em; font-weight:400;}
h1:before{
	content:'';
	width:1.5em;
	background:rgba(255, 255, 255, 0.65);
	height:18px;
	display:block;
	margin-bottom:.75em;
}
ul#options{
	margin:0 0 0 3.5em;
	padding:0;
}
ul#options li{
	padding:0;
}
ul#options li button{
	background:none;
	border-radius:none;
	border:none;
	color:rgba(255, 255, 255, 0.65);
	font-size:1.25em;
	padding:.25em .45em;
	height:1.85em;
}
ul#options li button:hover{
	background:rgba(255, 255, 255, 0.15);
	}
ul#options li button:focus{
	border:none;
	outline:none;
}
div.newDiv{width:100%; height:0px; padding-bottom:100%;float:left;}

@media screen and (min-width: 735px) {
	/*body div{width:20%; float:left; min-height:4em; transition:background-color 3s ease;}

	}
