/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.chromeframe {position: absolute; top: 0;}

body{width:100%; height:0;margin:0 auto; font-family:'arial', sans-serif;position:relative;padding-bottom:100%;background:#000000;}
div.bkgd{width:20%;float:left;transition:background-color 3s ease;height:0; padding-bottom:100%;}
h1,p{text-align:center;color:rgba(255, 255, 255, 0.65);}
h1{font-size:1.4em;margin-top:10%;}
p{font-size:8em;margin-top:40%;}

/* Media queries!
-------------------------------------------------------------------------------*/
@media screen and (max-width: 960px) {
	h1,p{text-align:center;color:rgba(255, 255, 255, 0.65);}
	h1{font-size:1.2em; padding:0;margin:0;}
	p{font-size:8em;margin:0 auto;}
	div.bkgd{width:100%; height:200px; clear:both; padding:0;}
}